<div id="app" class="i18n-panel">
    <div class="row row-setting">
        <h3 id="sectionResourceDirTitle" class="section-title"></h3>
        <input id="resourceDirInput" class="input" type="text" />
        <button id="confirmResourceDirBtn" class="btn" type="button"></button>
    </div>

    <div class="row row-title">
        <h3 id="sectionLocaleListTitle" class="section-title"></h3>
    </div>

    <div class="row row-table">
        <table class="dir-table">
            <thead>
                <tr>
                    <th id="thCode"></th>
                    <th id="thName"></th>
                    <th id="thSetTemplate"></th>
                    <th id="thSync"></th>
                    <th id="thOpen"></th>
                    <th id="thDelete"></th>
                </tr>
            </thead>
            <tbody id="dirTableBody"></tbody>
        </table>
    </div>

    <div class="row row-add">
        <input id="newDirInput" class="input" type="text" />
        <button id="addDirBtn" class="btn" type="button"></button>
    </div>

    <div id="toastContainer" class="toast-container"></div>
</div>
